.content {
    max-width: 830px;
    width: 100%;
    padding: 0 25px;
    margin: 80px auto 0;

    &__title {
        font-size: 18px;
        font-weight: 300;
        padding-left: 20px;
    }

    .product {
        margin-top: 21px;
        background: rgb(243, 241, 248);
        background: linear-gradient(135deg, rgba(243, 241, 248, 0.5) 0%, rgba(245, 238, 243, 0.5) 100%);
        border-radius: 20px;
        border: 2px solid #fff;
        min-height: 500px;
        backdrop-filter: blur(3px);
        padding-bottom: 30px;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 20px;
            border-bottom: 2px solid #fff;

            @media (max-width: 500px) {
                flex-direction: column;
            }

            &_name {
                font-size: 18px;
                font-weight: 400;
                width: 100%;
                line-height: 26px;
                word-break: break-all;
                max-height: 52px;
                overflow: hidden;
                position: relative;

                @media (max-width: 500px) {
                    width: 100%;
                    max-height: 78px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 26px;
                    height: 26px;
                    background: linear-gradient(270deg, rgb(244 235 243) 36%, rgba(245, 238, 243, 0.5) 100%);
                }
            }

            &_price {
                color: #ffa9bb;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                min-width: 97px;
                margin-left: 30px;

                @media (max-width: 500px) {
                    margin-top: 15px;
                    margin-left: 0;
                }

                .currency {
                    color: #000;
                    font-weight: 400;
                }
            }
        }
    }
}

.payments_block {
    margin: 28px 20px;

    .pick_payment {
        font-size: 14px;
        font-weight: 300;
    }

    &__payments {
        margin-top: 19px;
        background-color: #ece8f2;
        border: 2px solid #f4ecff;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
        padding: 28px 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &_payment {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(255, 255, 255);
            background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(254, 236, 249, 1) 100%);
            width: 165px;
            height: 80px;
            position: relative;
            border-radius: 20px;
            border: 2px solid #ebe5f4;
            margin-bottom: 9px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
            transition: transform 0.25s cubic-bezier(0.65, 0.05, 0.36, 1),
                box-shadow 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);

            &:hover {
                transform: translate(0, -5px);
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
            }

            img {
                width: 100px;
            }
        }

        .active {
            transform: translate(0, -5px);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
            border: 2px solid #f5e6eb;
        }
    }
}

.render_payment {
    max-width: 430px;
    padding: 0 25px;
    width: 100%;
    margin: 0 auto;

    .title {
        font-size: 14px;
        font-weight: 300;
    }

    section {
        margin-top: 19px;

        &:first-child {
            margin-top: 0;
        }
    }

    .input {
        border-radius: 10px;
        border: 1px solid #ece8f2;
        outline: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
        padding: 8px 18px;
        font-size: 12px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        margin-top: 8px;
        width: 100%;

        &::placeholder {
            color: #a3a3a3;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
        }
    }

    button {
        background: rgb(125, 36, 239);
        background: linear-gradient(135deg, rgba(125, 36, 239, 1) 0%, rgba(153, 73, 255, 1) 100%);
        width: 100%;
        margin-top: 19px;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 13px;
        border: none;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        border: 2px solid #9357df;
        transition: transform 0.25s cubic-bezier(0.65, 0.05, 0.36, 1),
            box-shadow 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);

        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
        }
    }
}